<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost/sgec</property>
		<property name="connection.username">root</property>
		<property name="connection.password">x</property>
		<property name="connection.tinyInt1isBit">true</property>
		<property name="connection.transformedBit1sBoolean">true</property>
		
		<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.acquire_increment">3</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<property name="hibernate.c3p0.timeout">1200</property>
		<property name="hibernate.c3p0.max_size">25</property>
		<property name="hibernate.c3p0.min_size">3</property>
		<property name="hibernate.c3p0.max_statements">0</property>
		<property name="hibernate.c3p0.preferredTestQuery">select 1;</property>
		
		<property name="connection.autoReconnect">true</property>
		<property name="connection.autoReconnectForPools">true</property>
		
		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>
		<!-- SQL dialect -->
		<property name="dialect">
			org.hibernate.dialect.MySQL5InnoDBDialect
		</property>
		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>
		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">
			org.hibernate.cache.NoCacheProvider
		</property>
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>
			
		<mapping class="mz.gov.sgec.model.Material"></mapping>
		<mapping class="mz.gov.sgec.model.Veiculo"></mapping>
		<mapping class="mz.gov.sgec.model.MaterialGeral"></mapping>
		<mapping class="mz.gov.sgec.model.InstruendoTurma"></mapping>
		<mapping class="mz.gov.sgec.model.Turma"></mapping>
		<mapping class="mz.gov.sgec.model.Utilizador"></mapping>
		<mapping class="mz.gov.sgec.model.Matricula"></mapping>
		<mapping class="mz.gov.sgec.model.Curso"></mapping>
		<mapping class="mz.gov.sgec.model.Instruendo"></mapping>
		<mapping class="mz.gov.sgec.model.MaterialAlocacao"></mapping>
		<mapping class="mz.gov.sgec.model.Funcionario"></mapping>
		
		
	</session-factory>
</hibernate-configuration>